@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 16px;
}
body{
    background: #000;
    color: #fff;
    height: 95vh;
    min-height: 700px;
    width: 100%;
    min-width: 210px;
}
header{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),linear-gradient(to top,transparent ,transparent 70%,rgba(0,0,0,1) 100%),linear-gradient(to bottom,transparent ,transparent 70%,rgba(0,0,0,1) 100%), url(images/header.jpg);
    height: 95vh;
    min-height: 700px;
    width: 100%;
    min-width: 180px;
    object-fit: cover;
    background-position: center;
    position: relative;
    border-bottom: solid 8px #212121;
}
header nav{
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.buttons button{
    margin: 5px;
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    padding: 7px 10px;
    font-weight: 600;
    font-size: 0.875rem;
    margin-right: 20px;
    transition: all 0.3s ease;
}
.buttons .signin:hover{
    background: #be0000;
}
header .logo{
    height: 40px;
    cursor: pointer;
}
.buttons .lang{
    background: transparent;
    border: solid 1px #7d7d7d;
    position: relative;
}
.lang .lan{
    height: 15px;
}
.lang select{
    position: absolute;
    background: transparent;
    color: #fff;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    font-size: 0.875rem;
    opacity: 0;
    text-align: center;
    -webkit-appearance: none;
}
select:focus{
    outline: none;
    border: none;
}
select option{
    width: 100px;
}
@media(max-width:370px){
    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:450px){
    .lang span{
        display: none;
    }
}
@media (min-width:1100px){
    nav{
        margin:0 150px;
    }
}
.lang span{
    padding: 0 8px;
}
.lang .down{
    height: 6px;
}
.header-content{
    position: absolute;
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}
.header-content h1{
    font-size: 3rem;
    font-weight:600;
}
.header-content h3{
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0.5rem;
}
.header-content p{
    font-size: 1.25rem;
    margin: 1rem;
}
@media (max-height:650px ) or (max-width: 650px){
    html{
        font-size: 12px;
    }
    .features .row{
        padding: 3rem 1rem;
        flex-direction: column;
        width: 100%;
    }
    .features .rev{
        flex-direction: column-reverse;
    }
    .row .img-col img{
        width: 75vw;
    }
}
form{
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    caret-color: #fff;
}
form input{
    padding: 1rem;
    margin: 0.3125rem;
    border: solid 1px #7d7d7d;
    background: transparent;
    border-radius: 5px;
    max-width: 360px;
    width: 50vw;
    background: rgba(0, 0, 0, 0.4);
}
form input::placeholder{
    color: rgb(241, 241, 241);
    font-size: 0.875rem;
}
form input:focus{
    border: solid 1px #7d7d7d;
    outline: solid 2px #fff;
    outline-offset: 2px;
}
form button{
    margin: 0.3125rem;
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 0.625rem 2.5rem;
    font-weight: 600;
    font-size: 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s ease;
}
form button:hover{
    background: #be0000;
}
.features{
    display: flex;
    flex-direction: column;
}
.row{
    padding: 3rem 4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: solid 8px #212121;
}
.text-col h2{
    font-size: 3rem;
    text-align: center;
}
.text-col p{
    font-size: 1.5rem;
    text-align: center;
}
.img-col img{
    width: 40vw;
}
.FAQ{
    margin: 4.5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    border-bottom: solid 8px #212121;
}
.FAQ h1{
    font-size: 3rem;
    text-align: center;
}
.accordion{
    margin: 60px auto 0 auto;
    width: 100%;
    max-width: 1000px;
}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li label{
    display: flex;
    align-items: center;
    padding:0 1.6rem;
    font-size: 1.5rem;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s ease;
}
input[type=checkbox]{
    display: none;
}
.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 1.6rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.accordion label{
    display: flex;
    justify-content: space-between;
}
.accordion label p{
    font-size: 3rem;
    font-weight: 100;
    padding: 0;
    transition: transform 0.5s ;
}
.accordion input[type=checkbox]:checked + label p{
    transform: rotate(135deg);
}
.accordion label:hover{
    background: #db0001;
}
.accordion input[type=checkbox]:checked + label + .content{
    max-height: 600px;
    padding: 2rem 1.5rem;
}
.FAQ .email p{
    text-align: center;
    font-size: 1.2rem;
}
.FAQ .email{
    padding: 1rem;
    margin: 1rem;
}
footer{
    margin: 4.5rem auto;
    max-width: 1000px;
    width: 100%;
    color: #FFFFFFB3;
    font-size: 1rem;
    padding: 1rem;
}
footer a{
    text-decoration: none;
    color: #FFFFFFB3;
    text-wrap: wrap;
}
footer a:hover{
    text-decoration: underline;
}
footer .help{
    display: flex;
    flex-wrap: wrap;
    margin: 1.5rem 0;
}
.help p{
    max-width: 200px;
    width: 47%;
    min-width: 130px;
    margin: 0.5rem auto 0 0rem;
}
footer .buttons button{
    margin: 0;
}
.end{
    font-size: 16px;
    font-weight: 100;
    margin: 1.8rem 0 3rem 0;
}
footer .buttons .lang span{
    display:inline-block;
}